In [1]:
import keras
import tensorflow as tf
import re
import nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2025-12-04 00:12:57.699288: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-12-04 00:13:08.081233: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.

In [2]:
financial_data = pd.read_csv("financial_data.csv")

financial_data.sample(10)

                                               Sentence Sentiment
2239  Preparing for a Breakout Trade in Netflix $NFL...  positive
2236  In Finland , snow storms brought trees down on...  negative
4424  $QCOM chart: Qualcomm Short 61.8% Retracement,...  negative
2688  Novartis buys remaining rights to GSK treatmen...  positive
4374                         long $AAPL 107 calls @ .40  positive
4456  i-Grid shows $DIA capped for the long term at ...  negative
4283  Pretax profit decreased to EUR 33.8 mn from EU...   neutral
1018  credit 20 November 2009 - Finnish glass techno...  positive
4105  The companies signed the letter of intent for ...   neutral
3940  Pretax profit jumped to EUR 21.9 million from ...  positive

In [3]:
financial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentence   5841 non-null   object
 1   Sentiment  5841 non-null   object
dtypes: object(2)
memory usage: 91.4+ KB

In [4]:
financial_data.isnull().sum()

Sentence     0
Sentiment    0
dtype: int64

In [5]:
financial_data["Sentiment"].value_counts()

Sentiment
neutral     3130
positive    1851
negative     860
Name: count, dtype: int64